/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.board {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background: forestgreen;
    padding:1em;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    color: white;
}

.wrapper {
    position: relative;
}
.clearfix:after {
    content: "";
    clear: both;
}

#others, #count, #dealer, #yours {
    box-sizing: border-box;
/*    display: inline-block;
    vertical-align: middle;*/
    text-align: center;
    padding: 1em;
    height: 12em;
    margin: 1%;
    width: 45%;
}

#others, #count {
    width: 40%;
    border: 1px solid #ffff00;
    float: right;
}


.action {
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    padding: 1em;
    min-height: 9em;
    width: 9em;
    top: 50%;
    left: 50%;
    margin-top: -4.5em;
    margin-left: -3.5em;
}

.action > * {
    position: relative;
    z-index: 2;
    margin: 15px 0 10px;
}

.action:before {
    content: "";
    background: #009100;
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
    border: 1px solid #ffff00;
    /* No idea why 45 is not centered */
    transform: rotate(46deg);
}

#dealer, #yours {
    border: 1px dashed antiquewhite;
    float: left;
}

#dealer:focus, #yours:focus, #others:focus {
    border: 2px solid red;
    outline: none;
}

.dealer-card, .your-card {
    color: yellow;
    font-size: 1.3em;
}

.count {
    color: #FF6666
}

#action {
    color: yellow;
    margin: 0;
}

.as {
    font-size: 0;
}
.as:before {
    content: "A";
    font-size: 1rem;
}

button {
    background: white;
    color: black;
}
button.clicked {
    background: red;
    color: white;
    border-color: darkslategrey;
}


/* Gradient */
.board {
    background: #009100; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #009100 45%, #004000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%,#009100), color-stop(100%,#004000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #009100 45%,#004000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #009100 45%,#004000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #009100 45%,#004000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #009100 45%,#004000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009100', endColorstr='#004000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
